*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: rgb(240, 234, 246);
}
 

section{
    width: 100%;
    background-color: rgba(140, 172, 186, 1);
    display: flex;
    
}

section .partieGauche{
    width: 50%;
    height: 1200px;
}

section .partieDroite{
    width: 50%;
    background-position: center;
    background-size: cover;
    height: 1200px;
 
    
}

.partieDroite{
    background: url(../images/femme.png);
    width: 100%;
}

.partieDroite a{
    text-decoration: none;
    color: #ffffff;
}

.partieDroite .Connecter{
    width: 22%;
    height: 45px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgba(5, 74, 104, 1);
    float: left;
    margin-left: 55%;
    margin-top: 30px;
    border-radius: 10px;
}

.Connecter i{
    margin-right: 10px;
    font-size: 25px;
}

.partieGauche {
    float: left;
    margin-left: 250px;
}

.partieGauche img{
    width: 20%;
    margin: 20px;
    height: 170px;
    border-radius: 100%;
}

.partieGauche h4{
    margin: 25px;
    font-size: 25px;
    color: #ffffff;
    font-family: arial;
}

.partieGauche p{
    font-size: 28px;
    margin: 20px;
    font-family: arial;
    color: #ffffff;
}

span{
    color: rgba(201, 56, 58, 1);
    font-size: 30px;
    font-family: sans-serif;
}

.partieGauche button{
    width: 22%;
    height: 45px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgba(5, 74, 104, 1);
    float: left;
    margin-left: 25%;
    margin-top: 30px;
    border-radius: 10px;
    color: #ffffff;
    border: none;
}

.partieGauche  :hover button{
    background-color: #ffffff;
    border: 1px solid black;
    color: rgba(5, 74, 104, 1);
}
#MaPage{
    background-color: rgba(217, 217, 217, 1);
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  
  #MaPage .img-grid{
    position: relative;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
  }
  .img-grid img{
    width: 100%;
    height: 446px;
    border-radius: 60px;
    margin-left: 80px;
}
h1{
    background-color:rgba(217, 217, 217, 1);
    text-align: center;
    padding-top: 25px;
    font-family: sans-serif;
    color: rgba(5, 74, 104, 1);
 }

.img-grid h2{
    text-align: center;
    padding-top: 10px;
    font-family: sans-serif;
    color: rgba(5, 74, 104, 1);
} 
 

#Programme{
    width: 100%;
    height: 125vh;
}
.rait1{
    width: 100px;
    border: 1px solid rgba(5, 74, 104, 1);
    height: 2px;
    margin: 25px;
    margin-left: 970px;
    
}

#Programme h3{
    text-align: center;
    padding-top: 20px;
    font-family: sans-serif;
    font-size: 40px;
    color: rgba(5, 74, 104, 1);
}

#Programme .MesDivA{
    width: 70%;
    height: 305px;
    display: flex;
    float: left;
    margin-left: 300px;
    margin-top: 40px;
}

.MesDivA .sousdivA{
    width: 40%;
    border: 2px solid rgb(49, 49, 49);
   
    box-shadow: 1px 1px 1px rgb(98, 97, 97);
}

.MesDivA .sousdivB{
    width: 60%;
   
}

.sousdivA img{
    width: 100%;
 
}

.sousdivB #inspect{
    width: 100%;
    display: flex;
    padding: 20px;
}

#inspect h5{
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 20px;
}
.rait{
    width: 65%;
    border: 1px solid rgba(5, 74, 104, 1);
    height: 2px;
    margin: 20px;
    margin-left: 50px;
}

.sousdivB p{
    margin: 30px;
    font-size: 25px;
    font-family: sans-serif;
    
}

#Programme .MesDivB{
    width: 70%;
    height: 305px;
    display: flex;
    float: left;
    margin-left: 300px;
    margin-top: 70px;
}

.MesDivB img{
    width: 100%;
    height: 305px;
}

.MesDivB .sousdivA{
    width: 40%;
    border: 2px solid rgb(49, 49, 49);
    height: 305px;
    box-shadow: 1px 1px 1px rgb(98, 97, 97);
}

.MesDivB .sousdivB{
    width: 60%;
    height: 305px;
}

#Programme .MesDivC{
    width: 70%;
    height: 305px;
    display: flex;
    float: left;
    margin-left: 300px;
    margin-top: 70px;
}

.MesDivC img{
    width: 100%;
    height: 305px;
}

.MesDivC .sousdivA{
    width: 40%;
    border: 2px solid rgb(49, 49, 49);
    height: 305px;
    box-shadow: 1px 1px 1px rgb(98, 97, 97);
}

.MesDivC .sousdivB{
    width: 60%;
    height: 305px;
}

#Structure{
    background-color: rgba(140, 172, 186, 1);
    width: 100%;
    height: 40vh;
   
}

#Structure h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    padding-top: 15px;
    color: rgba(5, 74, 104, 1);
}


#Structure .struct{
    width: 25%;
    height: 250px;
    float: left;
    margin-left: 40px;
    margin-top: 15px;
    background-color: rgb(28, 86, 111);
   
}

#Structure .structDiv{
    display: flex;
    margin-left: 280px;
}

.struct img{
    width: 15%;
    height: 90px;
    border-radius: 100%;
    margin: 20px;
}

.struct .Admin{
    display: flex;
}

.Admin .super{
    margin-top: 65px;
    font-family: sans-serif;
    color: #cac7c7;
    
}

.struct p{
    font-size: 15px;
    color: #cac7c7;
    font-family: sans-serif;
    margin-left: 20px;
}

.struct .Icons{
    float: left;
    margin-left: 70%;
    margin-top: 30px;
    color: rgb(236, 213, 95);
}

#footer{
    background-color: #cac7c7;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    
   
}

#footer img{
    width: 100%;
    height: 120px;
    border-radius: 100%;
}


#footer .recherche{
    width: 40%;
    height: 90px;
    background-color: rgba(5, 74, 104, 1);
    border-radius: 10px;
}

#footer .langue{
    border: 1px solid black;
    height: 50px;
    width: 130px;
}

.recherche{
    padding-top: 20px;
    display: flex;
    padding-left: 100px;
}

.recherche input{
    width: 200px;
    height: 40px;
    border: 1.2px solid #ffffff;
    outline: none;
    margin-left: 85px;
    border-radius: 5px;
    background-color: rgba(5, 74, 104, 1);
    color: #ffffff;
}

.recherche button{
    width: 100px;
    height: 40px;
    margin-left: 5px;
    border: 1.2px solid black;
    border-radius: 5px;
}

.recherche h6{
    font-size: 15px;
    margin-top: 10px;
    font-family: sans-serif;
    margin-left: -50px;
    color: #cac7c7;
}

#footer p{
    font-family: sans-serif;
    font-size: 20px;
}
select{
    width: 100%;
    height: 50px;
    background-color: rgb(28, 86, 111);
    border: 2px solid #cac7c7;
    border: none;
    color: #cac7c7;
}

@media(max-width:970px){
    #MaPage{
        width: 70%;
        grid-template-columns: repeat(2,1fr);
    }
  }

  @media(max-width:440px){
   
    #MaPage{
        grid-template-columns: repeat(1,1fr);
    }
  }
  
  